@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: white;
    }
    h2 {
        text-align:center;
    }
</style>
<div class="text-center" style="color:black">
    <h1 class="display-4">Добро пожаловать!</h1>
    <h2>Производство</h2>
    <img src="/css/pngwing.com (1).png" />
</div>
